[{:symbol "FPHAX" :name "FIDELITY SELECT PHARMA PORT"}
 {:symbol "FSPHX" :name "FIDELITY SELECT HEALTH CARE"}
 {:symbol "FSENX" :name "FIDELITY SELECT ENERGY PRTF"}
 {:symbol "FDLSX" :name "FIDELITY SELECT LEISURE PRT"}
 {:symbol "FSPCX" :name "FIDELITY SELECT INSURANCE PT"}
 {:symbol "FDFAX" :name "FIDELITY SELECT CONSUM STAPL"}
 {:symbol "FIDSX" :name "FIDELITY SELECT FINANCIAL SV"}
 {:symbol "FBSOX" :name "FIDELITY SELECT IT SERVICES"}
 {:symbol "FSPTX" :name "FIDELITY SELECT TECHNOLOGY"}
 {:symbol "FSUTX" :name "FIDELITY SELECT UTILITIES PT"}
 {:symbol "FSAGX" :name "FIDELITY SELECT GOLD PORTF"}
 {:symbol "FSCHX" :name "FIDELITY SELECT CHEMICALS PT"}
 {:symbol "FCYIX" :name "FIDELITY SELECT INDUSTRIALS"}
 {:symbol "FDCPX" :name "FIDELITY SELECT COMPUTERS PT"}
 {:symbol "FBIOX" :name "FIDELITY SELECT BIOTECHNOLGY"}
 {:symbol "FSRBX" :name "FIDELITY SELECT BANKING PRTF"}
 {:symbol "FSRPX" :name "FIDELITY SELECT RETAILING PT"}
 {:symbol "FSNGX" :name "FIDELITY SELECT NATURAL GAS"}
 {:symbol "FSDCX" :name "FIDELITY SELECT COMM EQUIP"}
 {:symbol "FSAIX" :name "FIDELITY SELECT AIR TRANS"}
 {:symbol "FSDPX" :name "FIDELITY SELECT MATERIALS PT"}
 {:symbol "FWRLX" :name "FIDELITY SELECT WIRELESS PRT"}
 {:symbol "FSAVX" :name "FIDELITY SELECT AUTOMOTIVE"}
 {:symbol "FSHOX" :name "FIDELITY SELECT CONSTR & HSG"}
 {:symbol "FBMPX" :name "FIDELITY SELECT COM SVC PRT"}
 {:symbol "FSLEX" :name "FIDELITY SELECT ENV & ALT EN"}
 {:symbol "FSESX" :name "FIDELITY SEL ENERGY SERVICE"}
 {:symbol "FSCPX" :name "FIDELITY SEL CNSMR DISCRET"}
 {:symbol "FSELX" :name "FIDELITY SEL SEMICONDUCTORS"}
 {:symbol "FSRFX" :name "FIDELITY SEL TRANSPORTATION"}
 {:symbol "FSTCX" :name "FIDELITY SEL TELECOMMUNICATN"}
 {:symbol "FNARX" :name "FIDELITY SEL NATURAL RES PT"}
 {:symbol "FSMEX" :name "FIDELITY MED TECH & DEVIC"}
 {:symbol "FSDAX" :name "FIDELITY SEL DEFENSE & AEROS"}
 {:symbol "FSCSX" :name "FIDELITY SEL SOFTWARE & IT"}
 {:symbol "FSLBX" :name "FIDELITY SEL BROKER & INVEST"}
 {:symbol "FSLZX" :name "FIDELITY ADV STK SEL M/C-Z"}
 {:symbol "FMCDX" :name "FIDELITY ADV STK SEL M/C-A"}
 {:symbol "FMCEX" :name "FIDELITY ADV STK SEL M/C-C"}
 {:symbol "FMCCX" :name "FIDELITY ADV STK SEL M/C-I"}
 {:symbol "FMCAX" :name "FIDELITY ADV STK SEL M/C-M"}]







